<!-- Hello, sudoku -->

<html>
<head>
  <title>SudoKraft</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
  <body><link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <h1>SSSSSSUDOKU</h1>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
  <div id="sudoku">
    <form action="/" method="post">
      <% 3.times do |row| %>
        <div class="row">
          <% 3.times do |box| %>
            <div class="box">
              <% 3.times do |cell_row| %>
                <div class="cell-row">
                  <% 3.times do |cell| %>
                    <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %> 
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <button>Check solution</button>
    </form>
    <form action="/set-difficulty" method="post">>
      <button name="difficulty" value="0.6">Easy</button>
      <button name="difficulty" value="0.5">Medium</button>
      <button name="difficulty" value="0.4">Hard</button>
    </form> 
  </div>
</body>
</html>
